.mainMobile{
    text-align: center;
    margin-top: 0;
    padding-top: 71px;
}

.mainMobile__title{
    margin-top: 0;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 41px;
}

.mainMobile__title-white{

    transition: all 0.3s ease-out;
    color: #1765B3;
}

.mainMobile__title-dark{
    transition: all 0.3s ease-out;
    color: #FFFFFF;
}

.mainMobile__container{
   margin-right: auto;
   margin-left: auto;
   width: 90%;
   justify-content: space-between;
   flex-wrap: wrap;
}


