.homework{
    margin-left: 15.6%;
    margin-top: 0;
    text-align: center;
    padding-top: 71px;
}


.homework__container{
   margin-right: auto;
   margin-left: auto;
   width: 1248px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .homework{
        text-align: center;
       margin-left: 30%;
    }
    .homework__container{
    width: 450px;
} 
}

@media screen and (min-width: 1025px) and (max-width: 1920px)  {
    .homework__container{
   width: 90%;
} 
}